* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  outline: 1px red solid;
}

/* style untuk setting (belum digunakan) */

/* .costume-btn{
  color: rgb(211, 211, 211);
}

.costume-label{
  font-size: large;
}

.costume-p-button{
  border-bottom: white 1px solid;
}

.costume-container-list{
  height: 71vh;
  overflow: auto;
  border-radius: 7px;
}

.costume-list-data-div{
  outline: solid 1px black;
  border-radius: 5px;
} */

/* style untuk halam home */

.container-home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  height: max-content;
}

.btn-home{
  width: 33%;
  height: 30px;
}

.show-ref-home {
  /* width: 300px; */
  width: 25%;
  height: 85vh;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 5px solid white;
  overflow: scroll;
  overflow-x: hidden;
}

.ref-home{
  width: 100%;
  height: max-content;
  margin-bottom: 10px;
  background-color: rgb(126, 126, 126);
  padding: 5px;
  border-radius: 10px;
}
.ref-home > p{
  color: white;
  margin: 0 0 3px 0;
  text-align: justify;
}

/* style untuk halam setting */
/* 
.container-setting {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-setting {
  width: 180px;
  height: 100%;
  background-color: aliceblue;
}

.parent-setting {
  margin: 0;
  padding: 0;
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.child-setting {
  margin: 0;
  padding: 0;
  width: 70%;
  background-color: white;
}

.textarea-setting {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
}
.textarea-setting:focus {
  background-color: rgb(236, 236, 236);
} */

.container-input {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.container-ref {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.container-ref > .show-ref {
  background-color: white;
  max-width: 250px;
  width: max-content;
  height: max-content;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}

.container-ref > .show-ref > p {
  margin: 0;
  font-size: smaller;
  font-weight: bold;
  text-align: justify;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input > input {
  margin: 2px 5px;
}
