extends layout

block content
  .container-input
    h3 Masukan data referensi anda di bawah ini
    .select-type(style="display: flex")
      p tipe referensi
      select#tipe-ref(name="tipe")
        option(value="jurnal") Jurnal
        option(value="buku") Buku
        option(value="tesis") Tesis
    form.form-input
      input(type="text", placeholder="Judul")
      input(type="text", placeholder="Penulis")
      input(type="text", placeholder="Nama Jurnal")
      input(type="text", placeholder="Tahun")
      input(type="text", placeholder="Volume")
      input(type="text", placeholder="Nomor")
      input(type="text", placeholder="Halaman")
      
  .container-ref
    .show-ref